<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic-layout}"
>

<head>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>


<style layout:fragment="myCss">
</style>


<div class="pt-4 ps-3 pe-3" layout:fragment="contents">
    <input type="hidden" id="userId" th:value="${#authentication.principal.user.id}">
    <h2 class="text-center">주문 페이지</h2>

    <h3 class="fw-bold d-inline-block mt-5">주문정보</h3>

    <table class="table table-bordered table-hover align-middle mt-4">
        <thead>
        <tr class="table-secondary align-middle">
            <th class="text-center" scope="col">상품정보</th>
            <th class="text-center" scope="col">수량</th>
            <th class="text-center" scope="col">상품금액</th>
            <th class="text-center" scope="col">합계금액</th>
        </tr>
        </thead>
        <tbody class="text-center">

        <tr th:each="order: ${orderResponse.orders}">
            <input name="bookId" th:value="${order.book.bookId}" type="hidden">

            <input th:id="'price-' + ${order.book.bookId}" type="hidden" th:value="${order.book.price}">

            <!-- 상품정보 -->
            <td class="p-3">
                <div class="d-flex">
                    <div class="me-4">
                        <img th:if="${order.book.imgSrc == null}" th:src="@{/img/no-image.jpg}" width="120px;">
                        <img th:if="${order.book.imgSrc != null}" th:src="${order.book.imgSrc}" width="120px;">
                    </div>
                    <div class="d-flex flex-column text-start">
                        <div class="mb-3" th:text="${order.book.name}">
                            [도서] 우리는 결국 지구를 위한 답을 찾을 것이다 : 지구와의 공존을 모색하는 가장 쉬운 기후 수업
                        </div>
                        <div>
                            <!--<span class="text-decoration-line-through">16,800원</span> <span>15,120원 (10%할인)</span>-->
                            <span th:text="${order.book.price} + '원'"></span>
                        </div>
                    </div>
                </div>
            </td>

            <!-- 수량 -->
            <td class="p-3">
                <div>
                    <div>
                        <input th:id="'input-' + ${order.book.bookId}" style="background-color: white;" type="text" name="amount" size="1" class="form-control" th:value="${order.amount}" readonly>
                    </div>
                </div>
            </td>

            <!-- 상품금액 -->
            <td class="p-3" th:text="${order.book.price} + '원'">15,120원</td>

            <!-- 합계금액 -->
            <td class="p-3 sum-book" th:id="'sum-' + ${order.book.bookId}" th:text="${order.totalPrice} + '원'">15,120원</td>


        </tr>
        </tbody>
    </table>

    <div class="mt-5 mb-5">
        <h4>총 상품금액: <span th:text="${orderResponse.totalOrderPrice}"></span>원</h4>
    </div>


    <h3 class="fw-bold d-inline-block mt-5">배송주소</h3>

    <div class="row address-div mt-5">
        <label for="postcode" class="col-sm-2 col-form-label">배송지 주소</label>
        <div class="col-sm-10" th:with="address=${user.address}">
            <div class="d-flex">
                <input th:value="${address.postcode}" class="m-2 form-control" type="text" name="address.postcode" id="postcode" placeholder="우편번호">
                <input type="button" class="btn btn-info m-2" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
            </div>
            <input th:value="${address.roadAddr}" name="address.roadAddr"  class="m-2 form-control" type="text" id="roadAddress" placeholder="도로명주소">
            <input th:value="${address.jibunAddr}" name="address.jibunAddr" class="m-2 form-control" type="text" id="jibunAddress" placeholder="지번주소">
            <span id="guide" style="color:#999;display:none"></span>
            <input th:value="${address.detailAddr}" name="address.detailAddr" class="m-2 form-control" type="text" id="detailAddress" placeholder="상세주소">
            <input th:value="${address.extraAddr}" name="address.extraAddr" class="m-2 form-control" type="text" id="extraAddress" placeholder="참고항목">
        </div>
    </div>



    <div class="d-flex justify-content-center mt-5 mb-5">
        <button id="order-submit-btn" type="button" class="btn btn-info mb-4">주문하기</button>
    </div>

</div>

<script layout:fragment="myScript">
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("roadAddress").value = roadAddr;
                document.getElementById("jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }


    function idParse(idVal) {
        let lastIdx = idVal.lastIndexOf('-');
        let id = idVal.substring(lastIdx+1);
        return id;
    }

    $('#order-submit-btn').click(function () {
        let bookIds = [];

        $('input[name="bookId"]').each(function (index) {
            bookIds.push($(this).val());
        })

        console.log("bookIds: " + bookIds);


        let myForm = document.createElement("form");
        myForm.setAttribute("charset", "UTF-8");
        myForm.setAttribute("method", "POST");  //Post 방식
        myForm.setAttribute("action", "/orders"); //요청 보낼 주소


        for (let i = 0; i < bookIds.length; i++) {
            let bookId = bookIds[i];
            let amount = Number($('#input-' + bookId).val());
            let orderPrice = Number($('#price-' + bookId).val());

            console.log("bookId: " + bookId);
            console.log("amount: " + amount);
            console.log("orderPrice: " + orderPrice);

            let fieldId = document.createElement("input");
            fieldId.setAttribute("type", "hidden");
            fieldId.setAttribute("name", "books[" + i + "].bookId");
            fieldId.setAttribute("value", bookId);


            let fieldAmount = document.createElement("input");
            fieldAmount.setAttribute("type", "hidden");
            fieldAmount.setAttribute("name", "books[" + i + "].amount");
            fieldAmount.setAttribute("value", amount + "");


            let fieldPrice = document.createElement("input");
            fieldPrice.setAttribute("type", "hidden");
            fieldPrice.setAttribute("name", "books[" + i + "].orderPrice");
            fieldPrice.setAttribute("value", orderPrice + "");


            myForm.appendChild(fieldId);
            myForm.appendChild(fieldAmount);
            myForm.appendChild(fieldPrice);
        }

        let userId = $('#userId').val();
        console.log("userId: " + userId);

        let fieldUser = document.createElement("input");
        fieldUser.setAttribute("type", "hidden");
        fieldUser.setAttribute("name", "userId");
        fieldUser.setAttribute("value", userId);

        myForm.appendChild(fieldUser);


        let postcode = $('#postcode').val().trim();
        let roadAddr = $('#roadAddress').val().trim();
        let jibunAddr = $('#jibunAddress').val().trim();
        let detailAddr = $('#detailAddress').val().trim();
        let extraAddr = $('#extraAddress').val().trim();

        let fieldPostCode = document.createElement("input");
        fieldPostCode.setAttribute("type", "hidden");
        fieldPostCode.setAttribute("name", "deliveryAddress.postcode");
        fieldPostCode.setAttribute("value", postcode);

        let fieldjibunAddr = document.createElement("input");
        fieldjibunAddr.setAttribute("type", "hidden");
        fieldjibunAddr.setAttribute("name", "deliveryAddress.jibunAddr");
        fieldjibunAddr.setAttribute("value", jibunAddr);

        let fieldroadAddr = document.createElement("input");
        fieldroadAddr.setAttribute("type", "hidden");
        fieldroadAddr.setAttribute("name", "deliveryAddress.roadAddr");
        fieldroadAddr.setAttribute("value", roadAddr);

        let fieldextraAddr = document.createElement("input");
        fieldextraAddr.setAttribute("type", "hidden");
        fieldextraAddr.setAttribute("name", "deliveryAddress.extraAddr");
        fieldextraAddr.setAttribute("value", extraAddr);

        let fielddetailAddr = document.createElement("input");
        fielddetailAddr.setAttribute("type", "hidden");
        fielddetailAddr.setAttribute("name", "deliveryAddress.detailAddr");
        fielddetailAddr.setAttribute("value", detailAddr);


        myForm.appendChild(fieldPostCode);
        myForm.appendChild(fieldjibunAddr);
        myForm.appendChild(fieldroadAddr);
        myForm.appendChild(fieldextraAddr);
        myForm.appendChild(fielddetailAddr);

        document.body.appendChild(myForm);
        myForm.submit();

        alert('주문 완료..');
    })
</script>
</html>